  [Desktop Entry]
  Name=Companion
  Comment=A simple app to make Flutter development more delightful.
  Exec=companion
  Icon=${SNAP}/meta/gui/companion.png
  Terminal=false
  Type=Application
  Categories=Utilities;